<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 关联数据库-->

    <context:property-placeholder location="classpath:database.properties"/>

    <!-- 连接池
        dbcp:半自动化操作，不能 自动连接
        c3pθ:自动化操作(自动化的加载配置文件，并且可以自动设置到对象中! )
        druid: hikaril
        -->

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="dbc.driver"/>
        <property name="url" value="jdbc.url"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>


    <!-- sqlsessionfactory-->

</beans>